*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

h5, h6, p {
    margin: 0;
    margin-bottom: get-spacing(xxx-small);
}

a {
    text-decoration: none;
    color: color(primary);
}

ul {
    list-style-type: none;
}