*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    @include breakpoint(tab_portrait) {
        font-size: 40%;
    }
}

body {
    height: 100vh;
    overflow: hidden;

    @include breakpoint(tab_landscape) {
        height: auto;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

h5, h6, p {
    margin: 0;
    margin-bottom: get-spacing(xxx-small);
}

a {
    text-decoration: none;
    color: color(secondary);
    transition: all .5s ease;
    font-weight: font-weight(medium);
    // text-transform: ;

    &:hover {
        
        border-bottom: 1px solid color(secondary);
    }
}

ul {
    list-style-type: none;
}