.circle {
    position: absolute;
    border-radius: 50%;
    background-color: color(primary-faded);
    z-index: -200;

    &.nav {
        top: -25%;
        right: 1rem;
        width: 15rem;
        height: 15rem
    }

    &.hero {
        top: -55%;
        left: -5rem;
        width: 35rem;
        height: 35rem;

        @include breakpoint(tab_landscape) {
            top: -23rem;
        }
    }

    &.footer {
        position: absolute;
        top: 1rem;
        left:43%;
        width: 25rem;
        height: 25rem;
        background-color: color(faded-white);
        z-index: 200;

        @include breakpoint(tab_portrait) {
            top: 7rem;
            left: 40%;
        }
        @include breakpoint(phone) {
            top: 7rem;
            left: 30%;
        }
    }
}