table {
    min-width: 100%;
    height: 2rem;
    padding: 2rem;
    border-spacing: 0;
    background-color: color(white);
    overflow-x: scroll;
    transition: all .5s ease;

    th {
        text-align: start;
        padding: 2rem 0;
        border-bottom: .2px solid color(off-white);
        color: color(grey);
    }
tbody {
    // color: color(secondary);
    tr {
        min-height: 5rem;
        height: 5rem;
        cursor: zoom-in ;
        &:nth-child(2n+1) {
            background-color: #f7f7f7;
            &:hover {
                box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.14);
            }
            
        }
        &:nth-child(n+1) {
            &:hover {
                transform: scale(1.001);
                box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.3);

            }
            
        }


        td {
            padding: 2rem;
            border: none;
        }
    }
}
}