.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 0;
    height: 30rem;
    background-color: color(primary);

    @include breakpoint(tab_portrait) {
        height: 40rem;
    }

    .owner {
        display: block;
        z-index: 500;
    }

}