.footer {
    // display: flex;
    // justify-content: center;
    position: relative;
    margin-top: 0;
    height: 27rem;
    background-color: color(primary);

    @include breakpoint(tab_portrait) {
        height: 40rem;
    }

    p {
        display: block;
        margin: auto 0;
        text-align: center;
        z-index: 500;
    }

}