.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 spacing(xxx-large);
    
    @include breakpoint(tab_portrait) {
        height: 80rem;
        
    }
        
    @include breakpoint(tab_landscape) {
        height: auto;
        flex-direction: column;
        align-items: start;
        margin-top: 15rem;
    }
   
    .intro {
        position: relative;

        @include breakpoint(phone) {
            margin-bottom: 15rem;
        }
        h1 {
            font-size: 4.0rem;
            text-transform: capitalize;

            @include breakpoint(tab_portrait) {
                font-size: 3.5rem;
            }
        }
    }

    &__image {
        width: 60rem;
        margin-left: 20rem;

        @include breakpoint(tab_landscape) {
            margin: 20rem auto 0 auto;
        }

        @include breakpoint(phone) {
            margin: 1rem auto 0 auto;
        }

        img {
            width: 100%;
            object-fit: cover;
        }
    }
}