nav.nav {
    position: relative;
    display: block;
    margin-right: spacing(x-large);
    padding: spacing(xx-large) spacing(x-large);

    ul {
        display: flex;
        justify-content: flex-end;
        a {
            display: inline-block;
            margin: 0 spacing(x-small);
        }
    }
}